html {
    background-color: #222;
}

body {
  padding-top: 30px;
  font-size: 12px;
  color: white;
  background: url("../img/logo-large-back3.png") no-repeat 50%;
  position:relative;
  height:100%;
}

#footer {
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0;
  display:block;
  height: 20px;
}

.projects {
  list-style: none;
  margin: 0 0 0 0;
}

.projects li {
  clear: both;
  height: 100px;
  border-color: black;
  margin-bottom: 5px;
}

.project {
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    padding: 0;
}

.project-title {
    font-size: 30pt;
    text-shadow: 0 0 9px #777;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 8px;
    height: 32px;
    margin-bottom: 0;
}

.star {
    color: red;
    font-weight: bold;
}

label {
    font-weight: bold;
    min-width: 100px;
    font-size: 12px;
}

.error {
    color: red;
    font-weight: bold;
}

.warning {
    color: red;
    font-weight: bold;
}

select[multiple], select[size] {
    height: 150px;
}

select {
    width: 75%;
}