<div class="container-fluid">
    <div class="row-fluid">
        <div id="builds" class="span12">
            <ul class="builds {{column_count}}-columns-list" style="-webkit-column-count:2;">
                <li ng-repeat="build in builds" class="thumbnail build">
                    <div style="display: block">
                        <div id="status" style="display:inline-block" class="status-box status-{{build.status}}"></div>
                        <div style="display:inline-block;" class="info-box">
                            <p class="build-title">
                                {{build.name}}
                            </p>
                            <p class="build-times">
                                {{build.duration}} ~ {{build.lastBuildDate}}
                            </p>
                            <p style="margin-top:8px;">
                               <span class="status status-label status-label-{{build.status}}">{{build.status}}</span>
                            </p>
                        </div>
                        <div class="tests-box" ng-show="build.successfulTestCount != 0 || build.failedTestCount != 0 || build.skippedTestCount != 0">
                            <ul style="margin-left: 10px;">
                                <li ng-hide="build.successfulTestCount == 0" class="test successful-test">{{build.successfulTestCount}}</li>
                                <li ng-hide="build.failedTestCount == 0" class="test failed-test">{{build.failedTestCount}}</li>
                                <li ng-hide="build.skippedTestCount == 0" class="test skipped-test">{{build.skippedTestCount}}</li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>