<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12" id="tracks">
            <ul class="tracks">
                <li ng-repeat="track in tracks" class="thumbnail track">
                    <div style="display: block" refresh-track ng-controller="TracksCtrl">
                        <p class="track-title">
                            {{track.name}}
                        </p>
                        <ul class="unstyled">
                            <li>
                                The current velocity is <span class="velocity metric">{{track.velocity}}</span> story points
                            </li>
                            <li>
                                There are <span class="remaining-points metric">{{track.remainingPointsInCurrentIteration}}</span> story points remaining for this sprint
                            </li>
                            <li>
                                <span class="scheduled-points metric">{{track.estimatedPointsInFuture}}</span> story points are already scheduled for the next iteration
                            </li>
                            <li>
                                The current iteration ends in <span class="end-of-iteration metric">{{track.remainingDays}}</span> days
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
