<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12" id="tracks">
            <ul class="tracks">
                <li ng-repeat="track in tracks" class="thumbnail track">
                    <div style="display: block" refresh-track ng-controller="TracksCtrl">
                        <p class="track-title">
                            {{track.name}} <span class="days-to-go">{{track.daysToGo}} days to go</span>
                        </p>
                        <div style="display: block">
                        <div class="report">
                        <p class="iteration">Current iteration</p>
                        <table>
                            <tr><td class="story-label">Scheduled</td><td class="story-metric">{{track.scheduledStories}}</td></tr>
                            <tr><td class="story-label">Accepted</td><td class="story-metric">{{track.acceptedStories}}</td></tr>
                            <tr><td class="story-label">In progress</td><td class="story-metric">{{track.storiesInProgress}}</td></tr>
                            <tr><td class="story-label">In validation</td><td class="story-metric">{{track.storiesInValidation}}</td></tr>
                            <tr><td class="story-label">Remaining</td><td class="story-metric">{{track.remainingStories}}</td></tr>
                        </table>
                        </div>
                        <div class="report">
                        <p class="backlog">Backlog</p>
                        <table>
                            <tr><td class="backlog-label">Available stories</td><td class="story-metric">{{track.availableStories}}</td></tr>
                            <tr><td class="backlog-label">Waiting for estimation</td><td class="story-metric">{{track.waitingForEstimationStories}}</td></tr>
                            <tr><td class="backlog-label">Actual velocity</td><td class="story-metric">{{track.actualVelocity}}</td></tr>
                            <tr><td class="backlog-label"># of sprints ready</td><td class="story-metric">{{track.numberOfSprints}}</td></tr>
                        </table>
                        </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>








    
